<h2>{{tituloPag}}</h2>

<form #miFormulario="ngForm" (ngSubmit)="onSubmit()">
	<p>
		Titulo:
		<input type="text" #titulo="ngForm" ngControl="titulo" [(ngModel)]="nuevaPelicula.titulo" required="true" minlength="5" />
		<span *ngIf="!titulo.valid">No Valido</span>
	</p>

	<p>
		Director:
		<input type="text" #director="ngForm" ngControl="director" [(ngModel)]="nuevaPelicula.director" required="true" 
		pattern="[A-Z a-z]*" />
		<span *ngIf="!director.valid">No Valido</span>
	</p>

	<p>
		Año:
		<input type="text" #anio="ngForm" ngControl="anio" [(ngModel)]="nuevaPelicula.anio" required="true" pattern="[0-9]{4}" />
		<span *ngIf="!anio.valid">No Valido</span>
	</p>

	<input type="submit" value="Crear Pelicula" [disabled] ="!miFormulario.form.valid" />
</form>
