<h1>{{titulo}}</h1>
<nav>
	<ul>
		<li><a [routerLink]="['Peliculas']">Inicio</a></li>
		<li><a [routerLink]="['CrearPelicula']">Añadir Peliculas</a></li>
		<li><a [routerLink]="['Contacto']">Contactos</a></li>
	</ul>
</nav>

<router-outlet></router-outlet>
<peliculas-footer></peliculas-footer>

