<p>Pelicula Favorita:</p>
<button (click)="onShowHide(true)" [class.showingData]="mostrarDatos===true">Mostrar Datos</button>
<button (click)="onShowHide(false)" [class.showingData]="mostrarDatos===false">Ocultar Datos</button>
<ul *ngIf="mostrarDatos ===  true">
	<li>Titulos: <strong>{{pelicula.titulo}}</strong></li>
	<li>Director: <strong>{{pelicula.director}}</strong></li>
	<li>Año: <strong>{{pelicula.anio}}</strong></li>
</ul>

<p>
	Cambiar Titulo:
	<input type="text" [(ngModel)]="pelicula.titulo">
</p>
    			
<hr/>
<p>Listado de peliculas:</p>    
<ul *ngFor="#pelicula of peliculas">
	<li (click)="onCambiarPelicula(pelicula)" class="pelicula-title" [class.clicked]="peliculaElegida.titulo === pelicula.titulo">Titulos: <strong>{{pelicula.titulo}}</strong></li>
	<li>Director: <strong>{{pelicula.director}}</strong></li>
	<li *ngIf="pelicula.anio">Año: <strong>{{pelicula.anio}}</strong></li>
	<li><a [routerLink]="['CrearPeliculaBasadaEnOtra', {titulo: pelicula.titulo, director: pelicula.director, anio: pelicula.anio}]">Añadir pelicula basada en esta:</a></li>
</ul>			
